<div class="container-bg">
  <div class="nav-container">
    <%= render 'layouts/navbar' %>
    <div class="container flex-alignments">
      <section class="home-row-section">
        <div class="content flex-alignments">
          <div class="left-content text-alignments">
            <div class="highlight-content">
              <h1 class="text-alignments text-color">
                Find Your Best Answers
              </h1>
              <p class="text-alignments">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Magni placeat rerum
                qui nemo corporis dolore earum deleniti
                soluta dolor itaque?
              </p>
            </div>
            <div class="explore flex-alignments content-justify-center">
              <a class="btn" href="">explore</a>
            </div>
          </div>
          <div class="right-content flex-alignments content-justify-center">
            <%= image_tag image_url('1.svg') %>
            <%# <img src="/1.svg" alt=""> %>
          </div>
        </div>
        <div class="bottom-img reveal flex-alignments">
          <%= image_tag image_url('5.svg') %>
        </div>
      </section>
    </div>
  </div>
  <section class="home-row-section">
    <div class="feature-container flex-alignments">
      <div class="reveal feature-paragraph text-alignments">
        <p>
          Study Club Q&A communities are different. Here's how:
        </p>
      </div>
      <div class="reveal feature-btn">
        <a class="btn" href="">Take a Tour</a>
      </div>
      <div class="reveal cards flex-alignments">
        <div class="reveal card flex-alignments content-justify-center border-style">
          <div class="card-avtar">
            <i class="fa-solid fa-users"></i>
          </div>
          <div class="card-heading">
            <h3>Expert communities.</h3>
          </div>
          <div class="card-details text-alignments">
            <p>Each of our communities is built by people passionate about a focused topic.</p>
          </div>
        </div>
        <div class="reveal card flex-alignments content-justify-center border-style">
          <div class="card-avtar">
            <i class="fa-solid fa fa-reply"></i>
          </div>
          <div class="card-heading">
            <h3>Find The Right Answer</h3>
          </div>
          <div class="card-details text-alignments">
            <p>You can vote on posts, so the most helpful answers are easy to find.</p>
          </div>
        </div>
        <div class="reveal card flex-alignments content-justify-center border-style">
          <div class="card-avtar">
            <i class="fa-solid fa-share-nodes"></i>
          </div>
          <div class="card-heading">
            <h3>Share Your knowledge.</h3>
          </div>
          <div class="card-details text-alignments">
            <p>Earn reputation and additional privileges for posts others find helpful.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-row-section">
    <div class="about-container flex-alignments">
      <div class="about flex-alignments text-color">
        <h1 class="reveal">About</h1>
        <p class="reveal text-alignments">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa dolorem numquam necessitatibus?</p>
      </div>
      <div class="reveal">
        <div class="top flex-alignments text-color">
          <div class="left-card">
            <div class="card border-style">
            </div>
          </div>
          <div class="details">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia facilis laborum placeat iste
              consequuntur odio quae! Numquam quo blanditiis pariatur.</p>
          </div>
        </div>
        <div class="middle flex-alignments">
          <div class="right-card">
            <div class="card border-style">
            </div>
          </div>
          <div class="details text-color">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia facilis laborum placeat iste
              consequuntur odio quae! Numquam quo blanditiis pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="containers">
      <div class="sec aboutus">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum odio earum incidunt laudantium esse
          dolores rerum veniam,
          fugiat ex, suscipit saepe possimus asperiores neque tempore laborum inventore! Delectus alias,
          pariatur est corporis
          voluptatem minus, quia hic nisi perspiciatis eveniet vel.
        </p>
        <ul class="sci">
          <li><a class="content-justify-center" href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a class="content-justify-center" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="content-justify-center" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="content-justify-center" href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>Contact Us</h2>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript">
  window.addEventListener('scroll', reveal);

  function reveal(){
      var reveals = document.querySelectorAll('.reveal');

    for(var i = 0; i < reveals.length; i++){

        var windowheight = window.innerHeight;
      var revealtop = reveals[i].getBoundingClientRect().top;
      var revealpoint = 150;

      if(revealtop < windowheight - revealpoint){
          reveals[i].classList.add('active');
      }
      else{
          reveals[i].classList.remove('active');
      }
    }
  }
</script>
