
<%= render 'layouts/navbar'%>
<%= render 'layouts/left_sidebar'%>
<div class="middle-content">
  <div class="">
<h1>
Welcome To Community Chat Section
</h1>
</div>
</div>
<%=  render 'layouts/right_sidebar'%>