<%= render 'layouts/navbar'%>
<%= render 'layouts/left_sidebar'%>
<div class="middle-content">
  <div class="">
    <h1>
Welcome To Guide Section
</h1>
<h4>
This Will Be A Static Page
</h4>
</div>
</div>
<%# <%=  render 'layouts/right_sidebar'%> %>
