.container-bg{
  background-image: linear-gradient(to bottom right, #e0f1ff, #e4edf9, #e7eaf3, #e7e8ec, #e6e6e6);
}   
body{
  position: relative;
}

@keyframes myAnimation{
0%{
  opacity: 1;
}
10%{
  opacity: 0.9;
}
20%{
  opacity: 0.8;
}
30%{
  opacity: 0.7;
}
40%{
  opacity: 0.6;
}
50%{
  opacity: 0.5;
}
60%{
  opacity: 0.4;
}
70%{
  opacity: 0.3;
}
80%{
  opacity: 0.2;
}
90%{
  opacity: 0.1;
}
100%{
  display: none;
  opacity: 0;
}
}
.notice, .alert{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:#fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
  padding: 50px 12px;
  border-radius:10px;
  animation-name: myAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

:root {
  --background-color: #E0F1FF;
  --text-heading: #303841;
  --text-details: #cccccc;
  --main-color: #E0F1FF;
  --home-text-heading: #cccccc;
  --text-color: #303841;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition:-webkit-transform 2s;
  transition: transform 2s;
}

/* .home-container{
  display: flex;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #e0f1ff, #e4edf9, #e7eaf3, #e7e8ec, #e6e6e6);
} */

.left-navbar{
  flex: 1;
  /* height: 89vh; */
  display: grid;
  padding:16px 12px;
}
.left-navbar .left-nav-items{
  display: flex;
  flex-direction: column;
  justify-content:center;     
  outline: none;
  min-height: 83vh;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.left-nav-items a{
  margin:20px auto;
  text-align: center;
  color:#fff;
  padding:12px 0;
  width: 120px;
  background-color: #384955;
  transition: background-color,box-shadow 0.3s ease;
}
.left-nav-items a:hover{
  background-color: #7C8E9B;
  color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.bottom-navbar {
  /* text-align: center; */
  background-image: linear-gradient(to top left, #e0f1ff, #e4edf9, #e7eaf3, #e7e8ec, #e6e6e6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.bottom-navbar a,.bottom-navbar button {
  color:var(--text-color);
  font-size: 1.6rem;
  border: none;
  outline: none;
  padding: 1rem 1.9rem ;
  margin-bottom:1px;
  background-color: transparent;
  cursor: pointer;
}

.right-container{
display: flex;
flex-direction: column;
min-height: 89vh;
flex:1;  
}
.section-right{
display: flex;
justify-content: space-evenly;
flex-direction: column;
/* flex: 1; */
}
.question-answer{
display:flex;
flex: 1;
flex-direction: column;
justify-content: space-evenly;
min-height: 89vh;
}
.question-answer .score-cards{
display: flex;
justify-content: space-between;
column-gap:10px;
margin: 1rem;
}
.card{
display: flex;
flex-direction: column;
padding:12px;
outline: none;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
flex: 1;
}
.card h5{
text-align: center;
font-size: 1.1rem;
color: var(--text-heading);
}
.card big{
text-align: center;
font-size:3.5rem ;
color: var(--text-details);
}

.question-answer .trending-cards{
margin: 1rem;
display: flex;
/* justify-content: center; */
flex-direction: column;
padding: 12px ;
outline: none;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
flex:1;
}
.trending-topics{
margin-top: 1rem;
}
.trending-cards h3{
color: var(--text-heading);
}

.trending-topics h5 a{
color:#212c29;
text-decoration: none;
font-size: var(--font-size);
}
.trending-topics h4{
margin:4px auto;
}
.trending-topics span.total-answers{
font-size: 12px;
font-weight: 600;
color: #212c29;
}

@media only screen and (max-width: 950px){
.left-navbar{
  display:block;
}
.question-answer .trending-cards{
  margin: 1rem 1rem 4rem;
}
.bottom-navbar{
  opacity: 1;
}
.bottom-navbar a {
  font-size: 1.5rem;
  padding: 1rem 1.9rem;
}

.right-container{
  flex-wrap: wrap;
}
.trending-cards h3{
  text-align: center;
}

}

::-webkit-scrollbar {
display: none;
}
.asking-section{
-ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
overflow-y: scroll;
}

