<div class="left_sidebar">
<%= link_to "Explore", questions_path, class: "sidebar-btn" %>
<%= link_to "Dashboard", dashboard_index_path, class: "sidebar-btn" %>
<%= link_to "Community", community_index_path, class: "sidebar-btn" %>
<%= link_to "Guide", guide_index_path, class: "sidebar-btn" %>
</div>