<div class="left-navbar">
  <div class="left-nav-items">
    <%= link_to "Explore", questions_path %>
    <%= link_to "Dashboard", dashboard_index_path %>
    <%= link_to "Community", rooms_index_path %>
    <%= link_to "Guide", guide_index_path %>
  </div>
</div>
<div class="bottom-navbar text-alignments">
        <a href="explore.html" class="fa fa-house-chimney-user"></a>
        <a href="dashboard.html" class="fa fa-tachometer text-color"></a>
        <a href="community.html" class="fa fa-message text-color"></a>
        <div class="tooltip">
            <button class="fa fa-sign-out"></button>
            <span class="tooltiptext">Log out</span>
        </div>
</div>