<div class="right-container">
  <div class="section-right">
    <div class="question-answer">
      <div class="score-cards">
        <div class="card question-asked-card">
          <h5>Asked <br>
            Questions</h5>
          <big><%= current_user.questions.length.to_s.rjust(2, '0') %></big>
        </div>
        <div class="card answer-asked-card">
          <h5>Answered <br>
            Questions</h5>
          <big><%= current_user.answers.length.to_s.rjust(2, '0') %></big>
        </div>
      </div>
      <div class="trending-cards">
        <h3>Trending Topics Today</h3>
        <%get_trend_hash[0..2].each do |arr|%>
          <div class="trending-topics">
            <h5>
              <%= link_to arr[0],category_path(arr[0]) %>
            </h5>
            <span class="total-answers"><%=arr[1]%> Questions Posted</span>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>