<div class="right_sidebar">
  <div>
    <div>
      <h3>User Stats</h3>
      <p>
        Questions Asked
      </p>
      <span>
        <%= @questions_asked.length %>
      </span>
      <p>
        Questions Answered
      </p>
      <span>
        <%= @questions_answered.length %>
      </span>
    </div>
  </div>
  <div>
    <h3>
      Trending Topics Today
    </h3>
    <%get_trend_hash[0..2].each do |arr|%>
      <%= link_to arr[0],category_path(arr[0]) %> <%= arr[1]%> questions posted
      <br>
      <br>  
    <%end%> 
  </div>
</div>
